Repository btolfa/usedphone_distributor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, rust-taplo

rust-linting:
  name: Rust linting
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo +nightly fmt --all --
  pass_filenames: true
  language: system

rust-taplo:
  name: Toml linting
  description: Run taplo fmt on files included in the commit
  entry: taplo format
  pass_filenames: true
  language: system

fix contract and tests
  package.json
  programs/distributor/src/lib.rs
  tests/distributor.ts
  tests/keys/marker_mint.json
  tests/keys/mint.json
  tests/utils.ts
  yarn.lock
Due: rust-linting

add readme and keypairs for testing
  Anchor.toml
  keys/authority.json
  keys/distributor-keypair.json
  migrations/deploy.ts
  programs/distributor/src/lib.rs
  readme.md
Due: rust-linting, rust-taplo

program id on devnet
  readme.md
Due: none

setup shuttle
  Cargo.lock
  Cargo.toml
  Shuttle.toml
  backend/Cargo.toml
  backend/src/main.rs
Due: rust-linting, rust-taplo

setup backend
  .gitignore
  Cargo.lock
  Cargo.toml
  backend/Cargo.toml
  backend/src/any_keypair.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/settings.rs
  programs/distributor/src/lib.rs
Due: rust-linting, rust-taplo

read vault from on-chain
  backend/src/main.rs
  backend/src/settings.rs
Due: rust-linting

add deposit.ts script
  Anchor.toml
  app/deposit.ts
Due: rust-taplo

add auth to endpoint
  Cargo.lock
  backend/Cargo.toml
  backend/deposit.json
  backend/spl_transfer.json
  backend/src/main.rs
  backend/src/settings.rs
  readme.md
Due: rust-linting, rust-taplo

read vault balance from incoming transactions
  Cargo.lock
  backend/Cargo.toml
  backend/src/deposit.json
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/transaction_status.rs
  backend/src/transfer.json
Due: rust-linting, rust-taplo

implement distribute tokens
  Cargo.lock
  backend/Cargo.toml
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/token_holder.rs
Due: rust-linting, rust-taplo

add generate script
  Anchor.toml
  app/generateMarkerHolders.ts
  package.json
  yarn.lock
Due: rust-taplo

add missing .gitignore
  .gitignore
Due: none

add priority fee and memo
  Cargo.lock
  Cargo.toml
  Shuttle.toml
  backend/Cargo.toml
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/priority_fee.rs
  backend/src/settings.rs
Due: rust-linting, rust-taplo

add deploy script
  .gitignore
  Anchor.toml
  backend/src/main.rs
  backend/src/settings.rs
  migrations/deploy.ts
Due: rust-linting, rust-taplo

update readme.md
  readme.md
Due: none

move logic into separate module
  Cargo.lock
  backend/Cargo.toml
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/service.rs
  backend/src/transaction_status.rs
Due: rust-linting, rust-taplo

read and write num of holders from db
  Cargo.lock
  backend/Cargo.toml
  backend/build.rs
  backend/migrations/20240206054848_holders.down.sql
  backend/migrations/20240206054848_holders.up.sql
  backend/src/main.rs
  backend/src/token_holder.rs
Due: rust-linting, rust-taplo

fixup
  backend/migrations/20240206054848_holders.up.sql
  backend/src/main.rs
  backend/src/service.rs
Due: rust-linting

Path conditions:
  rust-linting: any of: \.rs$
  rust-taplo: any of: \.toml$
